.card {
  margin-bottom: 30px;
  width: 100%;
  background-color: none;
  border: none;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
