@font-face {
    font-family: 'Brawler';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Brawler.otf') format('opentype');
}

@font-face {
    font-family: 'Lobster';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Lobster.otf') format('opentype');
}